@font-face {
    font-family: "iconfont";
    /* Project id  */
    src: url('iconfont.ttf?t=1657333489335') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 22px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shuaxin:before {
    content: "\f015c";
}

.icon-wenzi:before {
    content: "\e62d";
}