@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1651311489948') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Playerpause:before {
  content: "\e6aa";
}

.icon-Playerplay:before {
  content: "\e6ab";
}

.icon-Playernext:before {
  content: "\e6ac";
}

